/* 
.
.
.
.
.
.
*/
h1{
  color: aqua;
}

/* Default styles for all screen sizes */
body {
  font-family: Arial, sans-serif;
}

/* Styles for screens wider than 1024px (desktops and larger) */
@media (min-width: 300px) {
  body {
      background-color: rgb(44, 61, 43);
  }
}

/* Styles for screens wider than 1024px (desktops and larger) */
@media (min-width: 500px) {
  body {
      background-color: rgb(8, 252, 0);
  }
}

/* Styles for screens wider than 768px (tablets and larger) */
@media (min-width: 768px) {
  body {
      background-color: rgb(144, 238, 233);
  }
}

/* Styles for screens wider than 1024px (desktops and larger) */
@media (min-width: 1024px) {
  body {
      background-color: rgb(255, 0, 0);
  }
}


.container {
  width: 70%; /* 80% of the parent element */
  font-size: 2vw; /* Font size based on the viewport width */
}


















